
.menu-btn-container{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: end;
  filter: none !important;
}

.menu-button {
  background-color: yellow;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  cursor: pointer;
  border: none;
  padding-right: 11px;
  align-self: flex-end;
}

.lineStyle {
  background-color: #000;
  height: 4px;
  width: 16px;
  margin: 4px 0;
  border-radius: 2px;
  align-self: end;
}

.secondLineStyle {
  background-color: #000;
  height: 2px;
  width: 20px;
  margin: 0;
  border-radius: 2px;
}

.move-right{
    transform: translateX(100%);
    opacity: 0;
}

.move-left{
    transform: translateX(0);
    opacity: 1;
}

.no-display{
    display: none;
}

.menu-items-container{
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu-items{
    color: white;
    text-decoration: none;
    margin: 0px 0px;
    text-align: right;
    cursor: pointer;
}

.menu-items:hover{
    color: yellow;
}

.isActive{
  color: yellow !important;
  text-decoration: line-through;
}