
.greeting{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0px;
}

.bio{
    display: block;
    text-align: left;
    margin-left: 20px;
    width: 60%;
    margin-right: 5px;
}

.name{
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 2.4rem;
    font-weight: 500;
}
.occupation{
    margin-top: 3px;
    font-size: 2.4rem;
    font-weight: 500;
}

.bioRuler{
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.2); 
    border: none;
}

.contactInfo{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    flex-wrap: wrap;
}

.date, .number, .email, .location{
    display: flex;
    align-items: center;
    width: 230px;
    font-weight: 500;
}

.date img, .number img, .email img, .location img{
    margin-right: 5px;
}

@media screen and (width < 500px) {
    .name, .occupation{
        font-size: 1.25rem;
    }
    .greeting{
        font-size: 0.75rem;
    }
    .bio{
        width: 100%;
    }
}
