.CredentialAndFormContainer{
    margin: 50px 48px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.CredentialAndFormContainer div{
    width: 100%;
    text-align: left;
}

.form-email{
    display: block;
}

.form-email p{
    margin: 30px 0px;
}

.info-title{
    opacity: 0.7;
}

.form-email-info, .form-address-info, .form-social-info{
    width: 60%;
    line-height: 1.6;
    font-size: large;
    font-weight:500;
}

.form-social-info ul{
    display: grid;
    list-style: none;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding-left: 0px;
}

.form-address, .form-social{
    margin-top: 60px;
}

.input-container{
    width: 100%;
    margin-top: 10px;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.336);
}

.custom-input{
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: large;
    background-color: transparent !important;
    color: #fff;
}
.custom-input::placeholder {
  color: white !important;
}

.custom-textarea {
  border: none;
  outline: none;
}

.text-area{
    padding-bottom: 0px;
}

.btn{
    margin-top: 30px;
}