.CredentialAndFormContainer{
    margin: 50px 48px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.credentials{
    width: 100%;
}

.CredentialAndFormContainer div{
    text-align: left;
}

.credential-link:hover{
    color: yellow !important;
}

.form-email{
    display: block;
}

.form-email p{
    margin: 30px 0px;
}

.info-title{
    opacity: 0.7;
}

.form-email-info, .form-address-info, .form-social-info{
    width: 60%;
    line-height: 1.6;
    font-size: large;
    font-weight:500;
}

.form-social-info ul{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(93px, 1fr));
    gap: 15px;
    padding-left: 0px;
}

.form-address, .form-social{
    margin-top: 60px;
}

.custom-input{
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: large;
    background-color: transparent !important;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.2) !important;
    border-top: none;
}
.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.4) !important;
}

@media screen and (width < 1200px) {
    .CredentialAndFormContainer {
            flex-wrap: wrap;
    }
    .form{
        margin-top: 60px;
    }
    .custom-input{
        padding: 15px 5px;
        margin-bottom: 15px;
    }
}

@media screen and (width < 450px) {
    .CredentialAndFormContainer {
            margin-left: 10px;
            margin-right: 10px;
    }
}