.footer{
    background-color: black;
    color: white;
    width: 90vw;
    margin-bottom: 5%;
    max-width: 1400px;
}

.inner-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.copyright-info h5{
    font-weight: 200;
    font-size: 0.83em;
}

.socials ul{
    display: flex;
    gap: 8px;
    list-style: none;
    align-items: center;
}

.socials ul li{
    font-weight: 200;
    font-size: 0.83em;
}

.footer-link:hover{
    color: yellow !important;
}

@media screen and (width < 700px) {
    .inner-footer-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .inner-footer-container div{
        height: 3rem;
    }
}

@media screen and (width < 345px) {
    .socials ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .socials{
        height: 5rem !important;
    }
}