.myskillHeading{
    /* background-color: red; */
    margin-top: 80px;
    margin-left: 40px;
    text-align: left;
}

.myskillHeading span{
    border-bottom: 4px solid yellow;
    padding-bottom: 2px;
}

.skillContainer{
    display: grid;
    /* display: flex; */
    margin-top: 50px;
    margin-left: 40px;
}

.skills{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.skillGridItem{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gutter-row-inner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillGridItem div h3{
    width:fit-content;
}

.skillsCategory{
    vertical-align: baseline;
    transform: rotate(90deg);
    letter-spacing: 9px;
        font-size: 1.3rem;
    opacity: .3;
    text-align: center;
}

.skill-category-language{
    margin-bottom: 60px;
}

.barTitle{
    display: flex;
    justify-content: space-between;
}

.barTitle p {
    margin: 0px;
}