.peopleSayingHeading{
    /* background-color: red; */
    margin-top: 80px;
    margin-left: 40px;
    text-align: left;
}

.annotationContainer{
    display: flex;
}

.annotation{
    display: flex;
}

.authorInfo h5, .authorInfo p{
    margin: 0px;
}
.authorContainer{
    display: flex;
    padding: 0px;
}
.author-image{
    border-radius: 50%;
    width: 40px;
    margin-right: 20px;
}
.authorInfo{
    margin-top: 0px;
    text-align: left;
}