.peopleSayingHeading{
    margin-top: 80px;
    margin-left: 40px;
    text-align: left;
}

.peopleSayingHeading span{
    border-bottom: 4px solid yellow;
    padding-bottom: 2px;
}

.annotationContainer{
    display: flex;
    margin-left: 40px;
    justify-content: space-around;
}

.annotation{
    display: flex;
    width: 30%;
}

.annotationRuler{
    margin: 15px 0px;
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.2); 
    border: none;
    
}
.authorInfo h5, .authorInfo p{
    margin: 0px;
}
.authorContainer{
    display: flex;
    padding: 0px;
}
.author-image{
    border-radius: 50%;
    width: 40px;
    margin-right: 20px;
}
.authorInfo{
    margin-top: 0px;
    margin-left: 10px;
    text-align: left;
}

.slick-next, .slick-prev{
    display: none !important;
}