.portfolioContainer{
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
}

.portfolioHeading{
    margin-bottom: 10px;
}

.portfolioBody{
    margin-top: 40px;
}

.PortfoliosubHeading ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 0px;
    padding-left: 0px;
}

.portfolioSubBody{
    margin-top: 50px;
}

.portfolioImgContainer{
  position: relative;
}

.portfolioImg{
    width: 100%;
    height: 100%;
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
}

.image-wrapper {
  position: relative;
  width: 300px;
  height: auto;
  overflow: hidden;
}

.image-wrapper a{
  color: white !important;
  text-decoration: none !important;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; 
  backdrop-filter: none;         
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.overlay-bottom{
    position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; 
  backdrop-filter: none;         
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.4s ease, opacity 0.1s ease;
}

.image-wrapper:hover .overlay {
  opacity: 1;
  transform: translateY(0%);
}

.image-wrapper:hover .overlay-bottom{
    opacity: 1;
  transform: translateY(10%);
}

.image-wrapper:hover .portfolioImg {
  filter: blur(4px) brightness(60%);
}
