.whatIdoHeading{
    margin-top: 80px;
    margin-left: 40px;
    text-align: left;
}

.whatIdoHeading span{
    border-bottom: 4px solid yellow;
    padding-bottom: 2px;
}

.rowContainer{
    margin-left: 40px;
}

.rowContainer{
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-left: 40px;
}

.rowItems{
    display: flex;
    align-items: center;
    width: 300px;
}
.row-icons{
    margin-right: 10px;
}
.rowItems p{
    width: 100px;
}

