
body{
  margin: 0px;
  padding: 0px;
}

.main{
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  background-image: url('/bg2.jpg');
  background-repeat: no-repeat;
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.container{
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  width: 80vw;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  max-width: 1200px;
}

.intro{
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.info{
  margin: 0px 40px;
  text-align: left;
}

@media screen and (width < 600px) {
    .intro{
      flex-direction:column;
      justify-content: center;
    }
    .container{
      width: 90%;
    }
}

@media screen and (width < 700px) {
    .intro{
      flex-wrap: wrap;
    }
    
}